.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #142d4c;
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #373737;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  padding: 5px 0px;
  font-size: 16px;
  color: #ecececc3;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 12px 5px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #385170;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
